.paymentPage1{
    display: grid;
    margin: auto;
    width: 1200px;
    height:auto; 
    position: relative;
    font-size: 100%;
    text-align: center; 
    grid-template:450px 500px / auto auto;
    align-items:center;
    justify-content:space-evenly;
}

.paymentSelect1{
    margin-bottom: 20px;
    font-family: 'Courier New', Courier;
}
.userbox1{
    box-sizing: border-box;
    border: 2px solid;
    color: #2c2e2f;
    padding: 50px;
    border-radius: 8px;
}

.textedit1{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
}
.inputBox1{
    display: block;
    width: 100%;
    font-size: 20px;
}

.passBox1{
    display: block;
    width: 270px;
    margin-top: 10px;
    font-size: 20px;
}

input{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.verify1{
    margin-top: 10px;
}
.verifybutton1{
    display: block;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f8ce58;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.verifybutton1:hover {
    background-color: rgb(207, 205, 205);
    color: black;
  }

.inputBoxRec1{
    display: block;
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
}
.verifyRecipient1{
    display: block;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f8ce58;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.checkuser1{
    margin-top: 10px;
}

.paymentType1{
    padding:15px;
}

.inputBoxPay1{
    display: block;
    width: 240px;
    margin-top: 10px;
    font-size: 20px;
}

.notes1{
    
    background-color: aliceblue;
    width: fit-content;
    padding: 10px;
    border: 2px solid rgb(233, 233, 255);
    margin: 20px auto 0 auto;
}

textarea{
    width: 100%;
    margin-top: 10px;
    border: none;
    height: 80px;
    resize: none;
}
.submitButton1{
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #b0c1cc;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.submitButton1:hover {
    background-color: rgb(207, 205, 205);
    color: black;
  }
.space1{
    margin-bottom: 60px;
}
.input1{
    color: black;
}
