
.paymentPage{
    /* margin-top: 50px; */
    display: grid;
    margin: auto;
    width: 1200px;
    height: auto; 
    position: relative;
    /* box-sizing: border-box;
    border: 1px solid;
    color: #2c2e2f; */
    font-size: 100%;
    text-align: center; 
    grid-template:400px 800px / auto auto;
    align-items:center;
    justify-content:space-evenly;
}

.paymentSelect{
    margin-bottom: 0px;
    font-family: 'Courier New', Courier;
}
.userbox{
    box-sizing: border-box;
    border: 2px solid;
    color: #2c2e2f;
    padding: 50px;
    border-radius: 8px;
}

.textedit{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
}
.inputBox{
    display: block;
    width: 100%;
    font-size: 20px;
}

.passBox{
    display: block;
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
}

input{
    display: block;
    width: 100%;
    margin-top: 10px;
}
.verify{
    margin-top: 10px;
}
.verifybutton{
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f8ce58;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.verifybutton:hover {
    background-color: rgb(207, 205, 205);
    color: black;
  }

.inputBoxRec{
    display: block;
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
}
.verifyRecipient{
    display: block;
    margin-top: 15px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #f8ce58;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.checkuser{
    margin-top: 10px;
}

.paymentType{
    padding:15px;
}

.inputBoxPay{
    display: block;
    width: 240px;
    margin-top: 10px;
    font-size: 20px;
}

.notes{
    
    background-color: aliceblue;
    width: fit-content;
    padding: 10px;
    border: 2px solid rgb(233, 233, 255);
    margin: 20px auto 0 auto;
}

textarea{
    width: 100%;
    margin-top: 10px;
    border: none;
    height: 80px;
    resize: none;
}
.submitButton{
    display: block;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #47b350;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
.submitButton:hover {
    background-color: rgb(207, 205, 205);
    color: black;
  }
.space{
    margin-bottom: 60px;
}
.input{
    color: black;
}










/* Credit Card */
.credit-card {
    width: 360px;
    height: 400px;
    margin: 60px auto 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.10);
}
.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}
 
.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}
/* Title */
.title {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}
/* Common */
.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}
 
.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: #3f5364;
}
/* Card Number */
.card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

/* Date Field */
.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 8px;
}
 
.month select {
    float: left;
}
 
.year select {
    float: right;
}
/* Card Verification Field */
.cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #fff;
}
 
.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}
 
.cvv-details p {
    margin-top: 6px;
}
/* Buttons Section */
.paypal-btn,
.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    background: #7dc855;
}
 
.paypal-btn a,
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}
 
.paypal-btn a {
    color: rgba(242, 242, 242, .7);
}
 
.paypal-btn {
    padding-right: 95px;
}