

.photos{
    display: block;
    position:relative;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    /* background: transparent ; */
    /* width: 60%; */
    border-radius: 15px;
    overflow: scroll;
    z-index: 1;


    
}

.motto{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1rem;
    text-align: center;
    z-index: 1;
}

.restofPage{
    background-color: #d2eedc;
    padding-bottom: 100%;
    box-sizing: border-box;
    /* margin: auto; */
    margin-bottom: -1rem;
    margin-right: -1rem;
}